body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-color: #0392BF;
    background-attachment: fixed;
    background-position-x: center;
    overflow-x: hidden;
    /* background-image: url('/img/skate1.png'); */
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #fff;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  #logo {
      width: 70px;
      cursor: pointer;
  }
  .navbar{
    margin-top: 20px;
  }
/* .navbar-nav {
    margin-left: 50px;
} */
  .fa-shopping-cart{
    color: #fff;
    font-size: 20px;
  }
  .text_after_title, .link{
    color: rgb(223, 217, 217);
  }

  .colour_switch{
    width: 30px;
    height: 30px;
    margin-right: 13px;
    cursor: pointer;
  }

  .active-color{
    border: 3px solid white;
  }
  .base{
    background-color: #0392BF;
    color: white !important;
  }

  .nav-link-white{
    color: #fff !important;
  }

  .nav-link-black{
    color: #000 !important;
  }

  .pink{
    background-color: #ED48BA;
    color: white !important;
  }

  .yellow{
    background-color: #FBEC06;
    color: #000 !important;
  }


  .gray{
    background-color: #B3D4E0;
    color: #000 !important;
  }

  .image{
    width: 350px;
        height: auto;
        /* left: 0;
        right: 0;
        top: 0;
        bottom: 0; */
        margin: auto;
        /* padding: 100px 200px 200px 200px; */
        /* decided to use display flex and center the page with a particular width */
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
  }

  .text-1{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 9%;
    left: 22%;
  }
  .text-2{
    color:white;
    font-size: 60px;
    position: absolute;
    bottom: -4%;
    left: 26%;
  }

  .checked {
    color: orange;
  }
  .color{
    margin-right: 50px;
  }
  .size-select{
    width: 160px;
    /* background-color: #0392BF; */
    border: 2px solid white;
  }
  .form-control{
    background-color: transparent !important;
    color: white;
    border-radius: 0 !important;
  }
  .button{
    background-color: #ED48BA;
    padding: 10px 25px 10px 25px;
    box-shadow: none;
    border: none;
  }
  .button:hover{
    background-color: #ED48BA;
  }
  .button:focus{
    background-color: #ED48BA;
  }

#main{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.icon-color{
  color: #0392BF;
}

 /* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  #main{
    padding-left: 100px;
  }

  .text-1{
    color: white;
    position: absolute;
    bottom: 12%;
    font-size: 50px;
    margin-bottom: 0px;
    left: 24%;
  }
  .text-2{
    color: white;
    position: absolute;
    font-size: 45px;
    bottom: 1%;
    left: 30%;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }